<h1>Admin Page</h1>

<ul class="nav nav-pills">
	<li class="nav-item">
		<LinkTo @route='admin.categories' class="nav-link" @tagName="a">Categories</LinkTo>
	</li>
	<li class="nav-item">
		<LinkTo @route='admin.products' class="nav-link" @tagName="a">Products</LinkTo>
	</li>
</ul>

<hr>

{{outlet}}